.boton{
    display: inline-block;
    border-radius: 10px;
    padding: 10px 0px;
    border: 10px;
    border-color:black;
    border-style: double;
    text-align: center;
    width: calc((100%/3) - 25px);
    text-align: center;
    background-color: blue;
    font-size: 20px;
}
.boton:hover{
    background-color: rgb(113, 113, 253);
    color: rgb(162, 250, 151);
}
.index{
    display: inline-block;
    border-radius: 200px;
    padding: 10px 0px;
    border: 10px;
    border-style:outset;
    text-align: center;
    text-align: center;
    background-color: rgb(142, 142, 255);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: calc((100%/3) - 25px);
}
.index:hover{
    background-color: rgb(73, 73, 255);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
body{
    
    background-size: 2cm;
    background-color: aquamarine;

}
header{
    color: brown;
}
article{
    background-color: darkgray;
}
a{
    color: antiquewhite;
}
a:hover{
    color: rgb(245, 169, 70);
}